body {
  font-family: 'News Cycle', sans-serif;
  background-color: #D9D9D9;
}

/**
 * Entity arc styles
 */
.state-arc path {
  fill: #8DBEE1;
}
.state-arc text {
  alignment-baseline: middle;
}

.entity-arc text {
  opacity: 0;
  alignment-baseline: middle;
}
.entity-arc.active text {
  opacity: 1;
}
.entity-arc.active path {
  fill: #417295;
}

/**
 * Year arc styles
 */
.year-arc text {
  opacity: 0;
  alignment-baseline: middle;
}
.year-arc path {
  fill: #C3C3C3;
}
.year-arc.show-label text {
  opacity: 1;
}
/* .year-arc.active text {
  opacity: 1;
} */
.year-arc.active path {
  fill: #E57435;
}

/**
 * Question arc styles
 */
/* question-arc is a class that is applied to all arcs in the questions */
.question-arc {
  cursor: pointer;
}
.question-arc text {
  alignment-baseline: middle;
}

.closed-question path {
  fill: #C3C3C3;
}
.closed-question text {
  fill: black;
}

.open-question path {
  fill: #C3C3C3;
}
.open-question text {
  fill: #DF1E2D;
}

.question-option path {
  fill: #F98F99;
}
.question-option text {
  fill: #A5A5A5;
}
.question-option:hover text,
.question-option.active text {
  fill: #0C0C0C;
}
.question-option:hover path {
  fill: green;
}
.question-option.active path {
  fill: #DF1E2D;
}
